html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  padding: 1em;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  /* object-fit: cover; */
  position: absolute;
  z-index: -1;
}

a.logo {
  color: #cc0e74;
  font-weight: bold;
  font-size: 1.2em;
}

nav ul {
  display: flex;
  margin-top: 1em;
  list-style-type: none;
}

nav li {
  margin-right: 1.5em;
}

nav li a {
  color: black;
  font-weight: bold;
  padding: 0.3em 0.7em;
  background-color: #ffb2a7;
  border-radius: 1em;
  opacity: 0.6;
}

nav li a:active {
  background-color: #00aaa0;
}

.hero-left {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  width: 80%;
  margin: 1em auto 0;
}

.hero-left p {
  font-size: 1.2em;
  width: 80%;
  margin: 1em auto;
  /* text-align: center; */
}

a.cta-btn {
  color: white;
  background: #cc0e74;
  padding: 0.8em 1.5em;
  border-radius: 2em;
  font-weight: bold;
  margin: 1em 0 3em;
  display: inline-block;
}

ul.testimonials {
  margin: 2em 2em 0 0em;
}

ul.testimonials li {
  list-style: none;
  background: #f8cbb6;
  padding: 2em;
  margin-bottom: 1.7em;
  text-align: center;
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.09);
  opacity: 0.7;
}

blockquote,
blockquote p {
  margin: 0;
}

footer {
  font-weight: bold;
  display: block;
  margin-top: 1em;
}

blockquote p {
  line-height: 1.5;
}

/* Media Queries */
@media (min-width: 390px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    margin-top: 0.2em;
  }
  nav ul li:nth-of-type(3) {
    margin-right: 0;
  }
}

@media (min-width: 600px) {
  ul.testimonials {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1em;
  }
  ul.testimonials li {
    margin: 0;
  }

  ul.testimonials li:nth-of-type(3) {
    grid-area: 2 / 1 / 2 / 3;
  }
  .sec {
    margin-top: 60px;
  }
  /* img {
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  } */
}

@media (min-width: 1000px) {
  .hero-left {
    text-align: left;
    width: 30%;
    margin-left: 4em;
  }

  h1,
  .hero-left p {
    width: 100%;
  }

  img {
    top: 8em;
    right: 0;
    width: 60%;
    clip-path: none;
    border-radius: 5px;
    margin: 0 1em 0 0;
    opacity: 0.9;
  }
  nav ul li a {
    background: none;
  }
  h1 {
    font-size: 3rem;
  }
  ul.testimonials {
    display: flex;
  }
}
